@import "tailwindcss";


/* index.css me add karo */

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-33.33%);
    }
}

.animate-slide {
    animation: slide 18s linear infinite;
}